h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: red;
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px rgb(59, 70, 83);}
    to {box-shadow: 1px 1px 38px rgb(213, 240, 253);}
}

button
{
    background-color: rgb(208, 224, 245);
    border-color: rgb(161, 161, 226);
    border-radius: 6px;
    color: #47575e;
}

h3
{
    background-color: rgb(168, 187, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c5e70;
}